* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

nav {
    width: 80%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-cen {
    display: flex;
    gap: 30px;
}

.nav-cen a {
    color: black;
    font-size: 16px;
}

.btn1 {
    background-color: #30B868;
    color: white;
    padding: 10px 14px 10px 14px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #28a75a;
}

/* Ready Section */
.main {
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 120px;
    gap: 60px;
}

.h2 {
    font-size: 48px;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 20px;
}

.p {
    font-size: 18px;
    color: #28a75a;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 600px;
}

.pa {
    font-size: 18px;
    color: #4F4F4F;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.f1 {
    display: flex;
    gap: 8px;
    padding-top: 10px;
}


/* Footer Section */
.ftr-sec {
    padding-top: 120px;

    width: 100%;
    height: 360px;
    background-color: #001931;

}

.a1 {
    color: white;
}

.ftr {
    width: 80%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.img {
    width: 100px;

}

.hr {
    width: 70%;
    margin: auto;
    margin-top: 80px;

}

.hr p {
    margin-top: 30px;
    color: white;
    font-size: 14px;
    text-align: center;
}