* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

nav {
    width: 80%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-cen {
    display: flex;
    gap: 30px;
}

.nav-cen a {
    color: black;
    font-size: 16px;
}

.btn1 {
    background-color: #30B868;
    color: white;
    padding: 10px 14px 10px 14px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #28a75a;
}

/* Hero Section */
hero {
    background-image: url(./images/cover.png);
    display: flex;

    width: 100%;
    height: 900px;

}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.middle h1 {
    font-size: 64px;
    color: white;
    width: 770px;
}

.par {
    font-size: 20px;
    color: white;
    line-height: 1.6;
    margin-top: 20px;
    max-width: 1360px;
    height: 60px;
}

span {
    color: #30B868;
}

.btn-div {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.btn2 {
    background-color: transparent;
    color: white;
    padding: 10px 14px 10px 14px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 18px;
    cursor: pointer;
}

/* Ready Section */
.main {
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 120px;
    gap: 60px;
}

.h2 {
    font-size: 48px;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 20px;
}

.p {
    font-size: 18px;
    color: #28a75a;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 600px;
}

.pa {
    font-size: 18px;
    color: #4F4F4F;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.f1 {
    display: flex;
    gap: 8px;
    padding-top: 10px;
}

/* Ready to think */
.redy {
    width: 85%;
    max-width: 1360px;
    height: 380px;
    background-color: #F7F6F2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

.redy h2 {
    font-size: 36px;
    color: #212121;
    margin-bottom: 20px;
}

.redy p {
    font-size: 18px;
    color: #4F4F4F;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.redy button {
    background-color: #30B868;
    color: white;
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 15px;
}

/* Footer Section */
.ftr-sec {
    padding-top: 120px;
    width: 100%;
    height: 360px;
    background-color: #001931;

}

.a1 {
    color: white;
}

.ftr {
    width: 80%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.img {
    width: 100px;

}

.hr {
    width: 70%;
    margin: auto;
    margin-top: 80px;

}

.hr p {
    margin-top: 30px;
    color: white;
    font-size: 14px;
    text-align: center;
}